<h2>Assets</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Description</th>
        <th>Date Aquired</th>
        <th>Purchase Price</th>
        <th>Asset Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asset of assets">
        <td>{{asset.description}}</td>
        <td>{{asset.dateAcquired}}</td>
        <td>{{asset.purchasePrice | currency: 'USD':true:'1.2-2'}}</td>
        <td>{{asset.serialNumber}}</td>
      </tr>
    </tbody>
  </table>
</div>